<div>
  <h1>Welcome to Normal Form Race - Video Game Consoles as Data</h1>
<div>

<div>
  <p>
    The domain of this data exercise is video game consoles. Users are invited to provide information about 3 different video game consoles they are using at home. That information is then presented back to the user in different relational data models. The purpose of the app is to illustrate different levels of normalization.
  </p>
  <p>
    A further goal of the app is to provide analysis of the physical implementation of each form. How well does a database perform with each implementation?
  </p>
  <p>
    This app is meant to illustrate different levels of normalization for the educational benefit of the user. Please send feedback and suggestions to <a href='mailto:omidbachari@gmail.com'>omidbachari@gmail.com</a>.
  </p>
</div>

<%= link_to "New Game Console", new_game_consoles_path %>
